/* CSS for login in page*/

.signin-container
{
    margin:0px;
    padding:0px;
    background-color: white;
    box-shadow: 10px 10px 10px #aaaaaa;
    border: 1px solid #D9D9D9;
}

.eform-container
{
    background-color: white;
    box-shadow: 10px 10px 10px #aaaaaa;
    border: 1px solid #D9D9D9;
}

.form-container
{
    padding: 20px ;
}

.footer-bg
{
    margin-top: 20px;
    padding-top:10px ;
    padding-bottom: 20px;
    background-color: black;
    color: white;
    clear: both;        /* Makes the footer stay below the floated items */
}